.btns {
  margin-left: 9%;
  margin-bottom: 0%;
}
.deletebutton {
  margin-left: 3%;
  padding: 0.5%;
  border: 2px solid rgb(60, 87, 136);
  background-color: rgb(156, 181, 226);
  border-radius: 7px;
}
.deletebutton:hover {
  background-color: rgb(242, 244, 247);
  color: rgb(60, 87, 136);
}
.probutton {
  padding: 0.5%;
  padding-right: 2%;
  padding-left: 2%;
  border: 2px solid rgb(60, 87, 136);
  background-color: rgb(156, 181, 226);
  border-radius: 7px;
}
.probutton:hover {
  background-color: rgb(242, 244, 247);
  color: rgb(60, 87, 136);
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .btns{
      text-align: center;
       
      margin-left: -12%;
     
  }
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
   .btns{
      text-align: center;
       
      margin-left: -12%;
     
  }

}
@media only screen and (min-width: 200px) and (max-width: 500px) {
   .btns{
      text-align: center;
       
      margin-left: 10%;
     
  }

}