.allboxes {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
}
.infobox {
  padding: 0rem 1rem 0rem 1rem;
  border-radius: 10px;
  text-align: center;
  height: 90px;
  background-color: rgb(156, 181, 226);
  font-size: 1rem;
}
.vcncs {
  width: 140px;
  text-align: center;
}
.aplcns {
  width: 140px;
  text-align: center;
}

.infobox h1 {
  margin: 1rem;
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .allboxes{
    display: block;
    width: 20%;
    margin-right: 0%;
    height: 60%;
    
     
  }
  .infobox{
    margin-bottom: 3%;
  }
   
}
@media only screen and (min-width: 500px) and (max-width: 800px) {
  .allboxes{
    display: block;
    width: 20%;
    margin-right: 0%;
    height: 60%;
    margin-left: 0%;
    
  }
  .infobox{
    margin-bottom: 3%;
  }
   
}
@media only screen and (min-width: 200px) and (max-width: 500px) {
  .allboxes{
    display: block;
    width: 33%;
    margin-right: 0%;
    height: 60%;
    margin-left: 0%;
    
  }
  .infobox{
    margin-bottom: 3%;
  }
   
}