.wholenav nav {
  padding: 0;
}
 
div.container {
  margin-left: 0;
  margin-right: 0;
}
.me-auto {
   text-align: center;
   margin: 0 auto;
}
a.nav-link{
   color: black;
}
@media only screen and (max-width: 1000px) {
  .wholenav {
    width: 100%;
  }
  div.me-auto.navbar-nav {
    text-align: center;
    background-color: white;
  }
}