.tTable {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
  margin: 3rem 0;
}

.tTable table {
  width: 90%;
}

.tTable::after {
  content: " ";
  display: block;
  clear: both;
}

.lTable {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  float: right;
  margin: 3rem 0;
}

.lTable table {
  width: 90%;
}

.lTable::after {
  content: " ";
  display: block;
  clear: both;
}
